.service {
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.service__title {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.service__row1 {
    border-bottom: 2px solid var(--color-orang);
    max-width: 300px;
}

.service__table {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 65px;
}

.service__col-service {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.service__col-service-items {
    width: 320px;
    height: 150px;
    color: lightgray;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 5%;
    text-align: center;
    border: 4px solid var(--color-orang);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s linear;
}

.service__col-service-items:hover{
    opacity: 0.9;
}

.service__col-service-items_active{
    background-color: #ff9d44;
    display: flex;;
    color:black;
    opacity: 0.8;
}

.service__col2-service {
    width: 500px;
    height: 632px;
    border: 4px solid var(--color-orang);
    display: flex;  
    flex-direction: column;
    align-items: left;
    padding-top: 25px;
}

.service__col2-service-items {
    color: lightgray;
    margin: 0;
    padding: 0;
    padding-top: 17px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 5%;
    text-align: left;
    padding-left: 50px;
    
}

.service__col2-service-mobile{
    display: none;
}

.service__col2-service-mob{
    display: none;
}

@media screen and (max-width:1050px){
  .service__col2-service{
    width: 50%;
  }
  .service__col-service-items{
    width: 100%;
  }
  .service__table{
    justify-content: center;
    margin: 0 30px;
    margin-top: 50px;
  }
 }

 @media screen and (max-width:900px){
    .service__col2-service{
        width: 60%;
      }
      .service__col-service{
        width: 30%;
      }
      .service__col-service-items{
        width: 100%;
        font-size: 18px;
        line-height: 20px;
      }
      .service__table{
        justify-content: center;
        margin: 0 20px;
        margin-top: 50px;
      }
 }



 @media screen and (max-width:560px){
    .service__col2-service{
        display: none;
        width: 90%;
        height: 650px;
      }
      .service__col-service{
        width: 90%;
      }
      .service__col-service-items{
        width: 100%;
        font-size: 18px;
        line-height: 20px;
      }
      .service__table{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
      }
      .service__col2-service-items{
        padding-left: 20px;
      }
      .service__col2-service-mobile{
        border: 4px solid var(--color-orang);
        flex-direction: column;
        align-items: left;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        min-width: 100%;
        height: 650px;
margin: 0 auto;
      }

      .service__col2-service-items1_active{
        /* display: flex; */
      }
 }
 