.price {
    padding-top: 100px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price__title {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.price__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.price__list-items {
    padding: 0;
    margin: 0;
    padding: 5px 10px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 5%;
    border-bottom: 2px solid var(--color-orang);
    cursor: pointer;
}

.price__list-items_active {
    border: 2px solid var(--color-orang);
    border-bottom: none;
}

.price__table {
    background: #000000;
    min-width: 99%;
    border: 2px solid var(--color-orang);
    border-top: none;
    display: flex;
    flex-direction: column;
}

.price__table-header {
    display: flex;
}

.price__table-info {
    display: flex;
    color: #ffffff;
}

.price__table-name {
    color: rgb(255, 255, 255);
    min-width: 80%;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5%;
    text-align: center;
    border: 1px solid grey;
    border-top: none;
}

.price__table-name-item {
    color: rgb(255, 255, 255);
    min-width: 80%;
    max-width: 80%;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 5%;
    text-align: left;
    border: 1px solid grey;
    border-top: none;
}

.price__table-name-items {
    padding-left: 50px;
}

.price__table-price {
    color: var(--color-orang);
    min-width: 19%;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5%;
    text-align: center;
    border: 1px solid grey;
    border-top: none;
    border-right: none;
}

.price__table-price-item {
    color: var(--color-orang);
    min-width: 19%;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 5%;
    text-align: center;
    border: 1px solid grey;
    border-right: none;
}

.price__table_mobile {
    display: none;
}

.price__mobile {
    display: none;

}
.price__table-header-mobile{

}

.price__row1 {
    border-bottom: 2px solid var(--color-orang);
    max-width: 300px;
    margin-bottom: 50px;
}

@media screen and (max-width:940px) {
    .price__list {
        flex-direction: column;
    }

    .price__list-items_active {
        background-color: var(--color-orang);
        color: #000000;
    }

    .price {
        margin: 0 20px;
    }

    .price__list-items {
        min-height: 40px;
        border: 2px solid var(--color-orang);
    }

    .price__table {
        display: none;
    }

    .price__table_mobile {
        background: #000000;
        min-width: 99%;
        border: 2px solid var(--color-orang);
        border-top: none;
        display: flex;
        flex-direction: column;
       
    }

    .price__table-name-items {
        font-size: 14px;
        line-height: 15px;
        padding-left: 20px;
        max-width: 90%;
    }
    .price__table-header-mobile{
        display: none;
    }

    .price__table-name-item {
        max-width: 80%;
    }
}

@media screen and (max-width:640px) {
    .price__title {
        padding-top: 10px;
        font-size: 18px;
        line-height: 20px;
    }
}