.home {
    background-color: #000000;
    color: #ffffff;
    /* font-family: 'Lunasima'; */
    font-family: "Mulish";
    position: relative;
}

.home__container{

}

.home__gear1 {
    position: absolute;
    left: 210px;
    top: 1500px;
    color: #ffffff;
    fill: #ffffff;
    width: 100px;
    height: 100px;
    z-index: 1;
    opacity: 0.4;
    animation: circle 16s linear;
    animation-iteration-count: infinite;
}

.home__gear2 {
    position: absolute;
    right: 110px;
    top: 2010px;
    color: #ffffff;
    fill: #ffffff;
    width: 100px;
    height: 100px;
    z-index: 1;
    opacity: 0.4;
    animation: circles 16s linear;
    animation-iteration-count: infinite;
}

.home__gear3 {
  position: absolute;
  left: 210px;
  top: 3410px;
  color: #ffffff;
  fill: #ffffff;
  width: 100px;
  height: 100px;
  z-index: 1;
  opacity: 0.4;
  /* animation: circles 16s linear;
  animation-iteration-count: infinite; */
}
.home__gear4 {
  position: absolute;
  right: 200px;
  top: 3810px;
  color: #ffffff;
  fill: #ffffff;
  width: 100px;
  height: 100px;
  z-index: 1;
  opacity: 0.4;
  /* animation: circles 16s linear;
  animation-iteration-count: infinite; */
}


@keyframes circle {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes circles {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  
  @media screen and (max-width:1200px) {
    .home__gear1{
      display: none;
    }
    .home__gear2{
      display: none;
    }
    .home__gear3{
      display: none;
    }
    .home__gear4{
      display: none;
    }
  
  }