.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 70px;
    padding-top: 40px;
}

.navbar__link {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5%;
    text-align: left;
    transition: color .3s linear;
}

.navbar__link-items {
    margin: 0;
    color: inherit;
    text-decoration: none;
}

.navbar__link:hover {
    color: var(--color-orang);
}

.navbar__burger {
    display: none;
}

.navbar__close {
    display: none;
}

.navbar__close_active {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    z-index: 101;
}

.navbar__info{
    display: none;
}

.navbar__info_active{
    display: block;
    position: absolute;
    max-width: 180px;
    top: 500px;
    left: calc(50% - 90px);
    z-index: 120;
    text-align: center;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 5%;
}

@media screen and (max-width:900px) {
    .navbar {
        display: none;
    }

    .navbar__active {
        display: flex;
        background-color: black;
        position: absolute;
        width: 100vw;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 100vh;
        gap: 40px;
        z-index: 100;
        opacity: 0.9;
        padding-top: 140px;
    }

    .navbar__burger {
        display: block;
        width: 32px;
        height: 32px;
        margin-top: 20px;
        padding-right: 20px;
        cursor: pointer;
    }
}