.gallery {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 154px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
}

.gallery__header {
    display: flex;
    justify-content: space-around;
}

.gallery__header-line {
    border: 2px solid var(--color-orang);
    margin-top: 20px;
    min-width: 203px;
    max-height: 0px;
}

.gallery__header-title {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding: 0 190px;
}

.gallery__grid {
    margin-top: 164px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    row-gap: 68px;
    column-gap: 56px;
}

.gallery__grid-item {
    box-sizing: border-box;
    min-width: 350px;
    min-height: 350px;
    border: 3px solid var(--color-orang);
    border-radius: 10px;
    background: rgba(196, 196, 196, 0);
}

@media screen and (max-width:1200px){
    .gallery__grid{
        grid-template-columns: repeat(2, 200px);
    }

    .gallery__grid-item{
        min-width: 200px;
        min-height: 200px;
    }
    .gallery__header{
        min-width: 90%;
   
    }
    .gallery__header-line{
        min-width: 25%;
    }
    .gallery__header-title{
        padding: 0 10%;
        font-size: 24px;
        line-height: 26px;
    }
 }

 @media screen and (max-width:700px){
    .gallery__grid{
        grid-template-columns: repeat(1, 300px);
    }

 }

 @media screen and (max-width:370px){
    .gallery__header-title{
       font-size: 20px;
       font-weight: 22px;
    }

 }