.problem {

    max-width: 1280px;
    margin: 60px auto;
    margin-top: 100px;
    position: relative;
    text-align: center;
}

.problem__header-title{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding: 0 190px;
}
.problem__header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.problem__header-line{
    border: 2px solid var(--color-orang);
    margin-top: 20px;
    min-width: 203px;
    max-height: 0px;
}

.problem__title {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-align: left;
    font-size: 28px;
    line-height: 28px;
    font-weight: 300;
    color: var(--color-orang);
}

.problem__lable {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    text-align: left;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    color: lightgray;
}

.problem__scrollbar {
    z-index: 1;
    display: flex;
    gap: 40px;
    overflow-x: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.problem__scrollbar-item {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 250px;
    height: 300px;
    border: 2px solid #FFFFFF;
    padding: 20px;
    font-size: 2rem;
    flex-shrink: 0;
}

.problem__scrollbar-item:not(:last-child) {
    margin-right: 1em;
}

.problem__leftBtn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 20;
    font-size: 50px;
}

.problem__rightBtn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 20;
    font-size: 50px;
}

@media screen and (max-width:1040px){
    .problem__scrollbar-item{
        width: 200px;
        height: 250px;
    }
    .problem__lable{
        padding-top: 10px;
        font-size: 14px;
        line-height: 16px;
    }
    .problem__title{
        padding-top: 10px;
        font-size: 24px;
        line-height: 26px;
      
    }

    .problem__header{
        max-width: 100%;
        justify-content: space-between;
        margin: 0 20px;
      }
      .problem__header-line {
        min-width: 20%;
      }
      .problem__header-title{
        padding: 0 10%;
        font-size: 24px;
        line-height: 26px;
      }
}

@media screen and (max-width:600px){
    .problem__title{
        padding-top: 10px;
        font-size: 18px;
        line-height: 20px;
    }

    .problem__header-line {
        min-width: 10%;
      }
      .problem__scrollbar{
        margin: 0 10px;
      }

}